@font-face {
  font-family: "DMSans-Medium";
  src: url(./DM_Sans/DMSans-Medium.ttf);
}

@font-face {
  font-family: "DMSans-Regular";
  src: url(./DM_Sans/DMSans-Regular.ttf);
}


:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --red-highlight: #fe142f;
  --light: #fff;
  --dark-light: #232323;
  --dark: #000;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 a {
  color: #fff;
  text-decoration: none;
  outline: none; /* bordure et contour */ 
} 

ul {
  list-style: none;
}

/* Landing Page */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("background.png");
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}

.header-logo {
    float: left;
}

.topnav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 3.5%;
  background-color: #fff;
}

.list {
  display: flex;
  gap: 10px;
  text-align: center;
  font-family: "DMSans-Medium" sans-serif;  
}

.list_item a {
  color: #000000;
  padding: 12px;
  margin: 5px;
  font-size: clamp(1.2rem, 1.6vw, 1.8rem);
}

.list_item a span {
  position: relative;
}

.list_item a span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light);
  transition: width 0.3s ease-out;
}

.list_item a:hover span::after {
  width: 100%;
}

.list_item a:hover,
.list_item a.active,
.list_item a:focus {
  background-color: #ff0000;
  color: var(--light);
  border-radius: 15px;
}


#btn_hamb {
  display: none;
  color: var(--red-highlight);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#btn_hamb {
  display: none;
  color: var(--red-highlight);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
}

.formBg, 
.modal_success {
  display: none;
  align-items: center; 
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26, 39, 156, 0.4);
}

.form_content,
.modal_success {
  width: 95%;
  border-radius: 10px;
  background-color: var(--dark-light);
  color: var(--light);
  animation: modalopen .5s ease-in-out;
}

.form_content {
  position: relative;
  padding: 40px 40px 40px 20px;
  max-width: 500px;
}

.modal_content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px;
padding: 40px;
max-width: 600px; 
}

.modal_content h2 {
  text-align: center;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  font-weight: 100;
  font-family: "DMSans-Regular", sans-serif;
}

.formData {
  margin-bottom: 5px;
}

label {
  display: inline-block;
}

label, .text-label {
  margin-bottom: 10px;
  font-size: clamp(1.2rem, 1.6vw, 1.8rem);	
  font-family: "DMSans-Regular", sans-serif;
}